# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# OS files
.DS_Store
Thumbs.db

# Build outputs (if any)
dist/
build/
